*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    width: 98.8vw;
   overflow-x: hidden;
   position: relative;
}



.navbar{
    background-color: #ebf1ff;
    width: 98.8vw;
    height: 300px;
 display: flex;
 flex-direction: row;
 font-size: 3rem;
position:relative;
justify-content: space-between;
margin-left: 10px;

}


.navbar-content ul{
display: flex;
justify-content: space-evenly;
flex-direction: row;
list-style-type: none;
gap: 50px;
align-items: end;
}



#OLX{
    background-image: url(assets/olx.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 180px;
    transform: translate(90px,120px);
    border-radius: 35px 35px;
}
 .navbar-content li{
    list-style-type: none;
transform: translate(90px,100px);
  
}

.navbar-content li button{
    width: 180px;
    height: 100px;
    font-size: 2rem;
    margin: 0px 70px 0px 70px;
    background-color: blueviolet;
    font-size: 2rem;
    font-weight: 200px;
    border-radius: 30px 30px;
}


.navbar-2{
    background-color: #ffffff;
    width: 98.8vw;
    height: 200px;
    border: 2px solid black;
}

.navbar-2-content{
    font-size: 3rem;
    margin-left: 80px ;
transform: translate(90px,80px);
  
}
.navbar-2-content select{
    width: 170px;
    height: 100px;
    font-size: 2rem;
   
}


.navbar-2-content input{
      width: 1400px;
    height: 100px;
    font-size: 2rem;
    margin-left: 400px;
    padding: 30px 50px;
}


.navbar-2-content i {
    font-size: 3rem;
   
}


.boxes{
    width: 98.8vw ;
    height: 100vh ;
    display: flex;
margin-top: 50px ;
flex-wrap: wrap;
justify-content: space-evenly;
align-content: space-evenly;
}

.box{
    width: 30%;
    height: 1280px;
background-color: #ebf1ff;
 font-size: 3.5rem;
 margin-bottom: 40px;
}
.box-img{
width: 93%;
height: 60%;

background-size: cover;
background-repeat: no-repeat;
margin: 30px 30px 30px 30px;
background-position: top;


}


.boxes h4{
   margin: 40px;
   transform: translateY(100px);
}


a{
    color: purple;
    text-decoration: none;
}

.lists{
    width: 100vw;
    overflow-x: hidden;
    height: 400px;
    border: 1px solid black;
    background-color: pink;
   transform: translateY(2000px);
   font-size: 3rem;
   margin-top: 30px;
   display: flex;
   gap: 50px;

}
.lists li {
    font-weight: 200;
    margin: 20px 40px 20px 40px;
    list-style-type: none;
}


.copywrite{
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: end;
    align-items: center;
     border: 1px solid black;
      transform: translateY(2000px);
      font-size: 3.5rem;
      background-color: #002f34;
     color: white;
    
}


.copywrite p {
   font-weight: bolder;
   transform: translateX(-100px);
   

}

.copywrite span{
    font-weight: normal;
    font-size: 3.3rem;
}


